presentations/
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
.env
*/.env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
coverage.svg
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
*/venv/*
.venv/*
/service/venv/*
*/node_modules*
*/.vscode
*/.gitignore